html {
  background-color: #9675b8;
}

body {
  width: auto;
  margin: 0 auto;
  padding: 0;
}

.page-title > h1 {
  line-height: 1.8;
  width: 680px;
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: Spartan;
  margin: 125px auto 0;
}

.page-title > p {
  line-height: 1.8;
  width: 680px;
  color: white;
  text-align: center;
  font-family: Allerta;
  margin: 20px auto 60px;
}

.showcase-grid {
  display: grid;
  grid-auto-rows: 2fr;
  grid-template-columns: repeat(2, 1fr);
  margin: 20;
  padding: 5% 5% 1% 5%;
}

.showcase-item{
  background-color: white;
  text-align: center;
  font-family: Allerta;
  border-radius: 20px;
  padding: 5%;
  margin: 2%;
}

.showcase-item > h1{
  font-family: Roboto;
}

.showcase-item > p {
  font-family: Mono Sans;
  font-size: 20px;
  color: grey;
}

.button {
  background-color: #9537f6;
  color: white;
  border-radius: 50px;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

footer {
  background-color: #242424;
  color: white;
  text-align: center;
  font-family: Open Sans;
  margin: 0;
}

img {
  width: 50px;
  vertical-align: center;
}
