:root {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

html {
  background-color: #9675b8;
  padding: 0;
  margin: 0;
}

body {
  width: auto;
  margin: 0 auto;
  padding: 0;
}

.page-title {
  line-height: 1.8;
  color: white;
  font-family: Allerta;
  margin: 20px 2% 20px 2%;
  text-align: center;
}

.board {
  background: rgb(51, 51, 51);
  display: grid;
  margin: 0 auto;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.tile {
  background: rgb(51, 51, 51);
  color: white;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
  user-select: none;
}

.tile[colour="none"] {
  border: 2px solid rgb(86, 87, 88);
}

.tile[colour="grey"] {
  background-color: rgb(80, 80, 80);
}

.tile[colour="yellow"] {
  background-color: rgb(181, 159, 59);
}

.tile[colour="green"] {
  background-color: rgb(83, 141, 78);
}

ul {
  list-style-type: none;
  text-align: center;
  padding-left: 40%;
  padding-right: 40%;
}

ul li {
  font-family: Allerta;
  background:#fff;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

footer {
  background-color: #242424;
  color: white;
  text-align: center;
  font-family: Open Sans;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0;
}

img {
  width: 50px;
  margin: 1% 0 1% 0;
  vertical-align: center;
}
